<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="addAccordion()">Add accordion</button>
    <button mat-button (click)="openAll()">Open all</button>
    <button mat-button (click)="closeAll()">Close all</button>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<div class="dictionary-accordion">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
     <h3>Filter</h3>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-accordion [multi]="true"
                 dnd-sortable-container
                 [sortableData]="panel">
    <mat-expansion-panel *ngFor="let entry of panel; let i = index"
                         dnd-sortable [sortableIndex]="i"
                         [expanded]='entry.expanded'
                         [dragData]="entry"
                         dnd-draggable [dragEnabled]="true"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{entry.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-card-content>
        <div>
          This accordion has content.
          {{entry.content}}
        </div>
      </mat-card-content>

    </mat-expansion-panel>
  </mat-accordion>
</div>
